//- index.pug
doctype html
html
    head
        title This is title
            include ../static/style.css
    body 
        nav#navbar 
            ul 
                li Home
                li About 
                li Services
                li Class info 
                li Contact us
    h1 My Site
    p Welcome to my super lame site
    script
        include ../static/index.js